use MEOWSHOP


DROP TABLE Command
CREATE TABLE Command (
    id INT IDENTITY(1,1) PRIMARY KEY,  -- Auto-incrementing id column starting from 1
    command_name NVARCHAR(255) NOT NULL, -- Column to store the name of the command, cannot be null
	[image] VARCHAR(255)     -- Adding a new column to store image path or file name
);

INSERT INTO Command (command_name, [image])
VALUES 
(N'Gaming-Đồ Họa','images/logoLaptopGaming.jpg'),
(N'AI', 'images/logoLaptopAI.png'),
(N'Mỏng nhẹ', 'images/logoLaptopMongNhe.jpg'),
(N'Doanh nhân','images/logoLaptopDoanhNhan.jpg'),
(N'Sinh viên-Văn phòng', 'images/logoLaptopSinhVien_VanPhong.jpg');

SELECT * FROM Command

DROP TABLE Brand
CREATE TABLE Brand (
    id INT IDENTITY(1,1) PRIMARY KEY,  -- Auto-incrementing id column starting from 1
    brand_name VARCHAR(255) NOT NULL,  -- Column to store the name of the brand, cannot be null
    [image] VARCHAR(255),
	logo VARCHAR(255) -- Column to store the image path or file name
);

UPDATE Brand
SET    logo = 'images/list_img/logoHP.png'
WHERE brand_name = 'HP';
SELECT * FROM Brand

CREATE TABLE [Role] (
    id INT IDENTITY(1,1) PRIMARY KEY,  -- Auto-incrementing id column starting from 1
    role_name VARCHAR(50) NOT NULL     -- Column to store the name of the role, cannot be null
);

INSERT INTO [Role] (role_name)
VALUES 
(N'Admin'),
(N'Manager'),
(N'User');

SELECT * FROM [Role]

Drop table [User]
CREATE TABLE [User] (
    id INT IDENTITY(1,1) PRIMARY KEY,       -- Auto-incrementing id column starting from 1
    name NVARCHAR(255) NOT NULL,             -- Column for the user's full name, cannot be null
    username VARCHAR(100) NOT NULL UNIQUE,  -- Column for the username, must be unique and cannot be null
    email VARCHAR(255) NOT NULL UNIQUE,     -- Column for the email, must be unique and cannot be null
    password VARCHAR(255) NOT NULL,         -- Column for the password, cannot be null
    role_id INT FOREIGN KEY REFERENCES Role(id),  -- Foreign key referencing Role(id)
    phone_number VARCHAR(10) NOT NULL  -- Phone number with 10 digits
);
 ALTER TABLE [User]
ADD Active INT NOT NULL DEFAULT 1;
-- Thêm người dùng với vai trò Admin (role_id = 1)
INSERT INTO [User] (name, username, email, password, role_id, phone_number)
VALUES
(N'Admin User 1', 'admin1', 'admin1@example.com', 'password123', 1, '0123456789'),
(N'Admin User 2', 'admin2', 'admin2@example.com', 'password123', 1, '0123456780');

-- Thêm người dùng với vai trò Manager (role_id = 2)
INSERT INTO [User] (name, username, email, password, role_id, phone_number)
VALUES
(N'Manager User 1', 'manager1', 'manager1@example.com', 'password123', 2,'0123456781'),
(N'Manager User 2', 'manager2', 'manager2@example.com', 'password123', 2,'0123456782');

-- Thêm người dùng với vai trò User (role_id = 3)
INSERT INTO [User] (name, username, email, password, role_id, phone_number)
VALUES
(N'User 1', 'user1', 'user1@example.com', 'password123', 3, '0123456783'),
(N'User 2', 'user2', 'user2@example.com', 'password123', 3, '0123456784');

select * from [User] 
where (username = 'user1' or email= 'user1@example.com') and password = 'password123'

Drop table [Address]
CREATE TABLE [Address] (
	id INT IDENTITY(1,1) PRIMARY KEY,
    [user_id] INT NOT NULL FOREIGN KEY REFERENCES [User](id),  -- Foreign key to User table
    [address] NVARCHAR(max) NOT NULL
);

INSERT INTO [Address] ([user_id], [address])
VALUES
(5, N'Thành phố Hải Dương tỉnh Hải Dương'),
(5, N'Thành phố Hà Nội quận Ba Đình'),
(6, N'Thành phố MeowMeow số nhà 28 ngách 7'),
(6, N'Thành phố Lào Cai tỉnh Yên Bái');
select * from [Address]

CREATE TABLE Color(
	id INT IDENTITY(1,1) PRIMARY KEY,  -- Auto-incrementing id column starting from 1
    color NVARCHAR(255) NOT NULL
)

INSERT INTO Color(color)
VALUES (N'Xanh đen'), (N'Xám'), (N'Vàng'), (N'Bạc');
SELECT * FROM Color

drop table Product
CREATE TABLE Product (
    ProductID NVARCHAR(255) PRIMARY KEY,
    ProductName NVARCHAR(255) NOT NULL,
    Brand_id INT NOT NULL references Brand(id),
	Command_id INT NOT NULL references Command(id),
    ScreenSize FLOAT NOT NULL,
	ScreenSize_type INT,
    CPU NVARCHAR(100) NOT NULL,
	CPU_type INT,
    RAM NVARCHAR(50) NOT NULL,
	RAM_type INT,
    Graphics NVARCHAR(100),
	Graphics_type INT,
    Price INT NOT NULL,
    ReleaseDate DATETIME,
    [Description] NVARCHAR(MAX),
    ImageLaptop NVARCHAR(255),
    StockQuantity INT NOT NULL,
    Warranty NVARCHAR(100),
    Discount int,
	DiscountAmount AS (Price * Discount / 100),
	FinalPrice AS (Price / 100 * (100 - Discount))
);
SELECT * FROM Product

drop table Product_Color
CREATE TABLE Product_Color(
    color_id INT NOT NULL references Color(id),
	product_id NVARCHAR(255) NOT NULL references Product(ProductID),
	[image] NVARCHAR(255),
	PRIMARY KEY (color_id, product_id)
)
ALTER TABLE Product_Color
ADD quantity INT;
UPDATE Product_Color
SET quantity = 10;
ALTER TABLE Product_Color
DROP COLUMN quantity;
ALTER TABLE Product_Color
ADD ProductColorID INT IDENTITY(1,1);

select * from Product_Color

INSERT INTO Product (
    ProductID, ProductName, Brand_id, Command_id, ScreenSize, ScreenSize_type, CPU, CPU_type, RAM, RAM_type, Graphics, 
    Graphics_type, Price, ReleaseDate, [Description], ImageLaptop, StockQuantity, Warranty, Discount)
VALUES (
    'No.00818146', 'MacBook Air 13 inch M2 2022 8CPU 8GPU 8GB/256GB', 1, 4, 13.3, 2, 
    'Apple M2', 3, '8 GB', 2, 'Apple M2', 1, 27990000, '2022-06-24', 
    N'MacBook Air M2 mang lại hiệu suất vượt trội.', 'images/product/00818146.jpg', 
    50, '12 tháng', 10);

INSERT INTO Product_Color(product_id, color_id, [image])
VALUES  ('No.00818146', 1, 'images/product/00818146_1.jpg'), 
		('No.00818146', 2, 'images/product/00818146_2.jpg'), 
		('No.00818146', 3, 'images/product/00818146_3.jpg'), 
		('No.00818146', 4, 'images/product/00818146_4.jpg'); 

INSERT INTO Product (
    ProductID, ProductName, Brand_id, Command_id, ScreenSize, ScreenSize_type, CPU, CPU_type, RAM, RAM_type, Graphics, 
    Graphics_type, Price, ReleaseDate, [Description], ImageLaptop, StockQuantity, Warranty, Discount)
VALUES (
    'No.00725093', 'MacBook Air 13 inch M1 2020 8CPU 7GPU 8GB/256GB', 1, 5, 13.3, 2, 
    'M1', 2, '8 GB', 2, 'Apple M1', 1, 18490000, '2021-06-24', 
    N'MacBook Air M1 mang lại hiệu suất vượt trội.', 'images/product/00725093.jpg', 
    50, '12 tháng', 20);

INSERT INTO Product_Color(product_id, color_id, [image])
VALUES  ('No.00725093', 2, 'images/product/00725093_2.jpg'), 
		('No.00725093', 3, 'images/product/00725093_3.jpg'), 
		('No.00725093', 4, 'images/product/00725093_4.jpg');

INSERT INTO Product (
    ProductID, ProductName, Brand_id, Command_id, ScreenSize, ScreenSize_type, CPU, CPU_type, RAM, RAM_type, Graphics, 
    Graphics_type, Price, ReleaseDate, [Description], ImageLaptop, StockQuantity, Warranty, Discount)
VALUES (
    'No.00907335', 'MacBook Pro 14 2023 M3 8 CPU/10 GPU/16GB/512GB', 1, 4, 14.2, 2, 
    'M3', 4, '16 GB', 3, 'Apple M3', 1, 44990000, '2023-06-24', 
    N'MacBook Pro 14 2023 mang lại hiệu suất vượt trội.', 'images/product/00907335.jpg', 
    50, '12 tháng', 15);

INSERT INTO Product_Color(product_id, color_id, [image])
VALUES  ('No.00907335', 2, 'images/product/00907335.jpg');































delete from Product_Color where product_id = 'No.00908639'
delete from Product where ProductID = 'No.00908639'

select * from Product_Color
select p.ProductID, SUM(c.quantity) as quantity 
from Product p join Product_Color c on p.ProductID = c.product_id
GROUP BY p.ProductID
having p.ProductID = 'No.00731890'

select * from Product_Color
where product_id = 'No.00798025' and color_id = 1

select * from [User]

CREATE TABLE [Order] (
    OrderID INT PRIMARY KEY IDENTITY(1,1),
    UserID INT NOT NULL,
    OrderDate DATETIME NOT NULL DEFAULT GETDATE(),
    TotalAmount int NOT NULL,
    Status NVARCHAR(50) NOT NULL DEFAULT 'Pending',
    CONSTRAINT FK_Order_User FOREIGN KEY (UserID) REFERENCES [User](id)
);
ALTER TABLE [User]
ADD [Address] NVARCHAR(max)

select top 1 OrderID from [Order] order by OrderID desc

select * from [User]
drop table [Order]
drop table OrderLine
CREATE TABLE OrderLine (
    OrderLineID INT PRIMARY KEY IDENTITY(1,1),
    OrderID INT NOT NULL,
    ProductID NVARCHAR(255) NOT NULL,
    Quantity INT NOT NULL,
    UnitPrice int NOT NULL,
    TotalPrice AS (Quantity * UnitPrice) PERSISTED,
    CONSTRAINT FK_OrderLine_Order FOREIGN KEY (OrderID) REFERENCES [Order](OrderID),
    CONSTRAINT FK_OrderLine_Product FOREIGN KEY (ProductID) REFERENCES Product(ProductID)
);
ALTER TABLE [OrderLine]
ADD ColorID int not null references Color(id)

select * from OrderLine
drop table [Address]
select * from Product_Color p1 join Product p2 on p1.product_id = p2.ProductID
where p2.ProductName like '%%' order by FinalPrice

select * from [Order]

SELECT 
   u.username,
    SUM(ol.Quantity * ol.UnitPrice) AS total_revenue
FROM 
    OrderLine ol
JOIN [Order] o on o.OrderID = ol.OrderID
JOIN [User] u on u.id = o.UserID
JOIN 
    Product_Color p ON ol.ProductColorID = p.ProductColorID
JOIN
	Product p1 on p1.ProductID = p.product_id
JOIN
    Brand b ON p1.Brand_id = b.id
GROUP BY 
    u.username
ORDER BY 
    total_revenue DESC;

select*from Product_Color
select * from OrderLine
select * from Brand

select * from [User]

UPDATE [dbo].[Product_Color]\n"
                    + "   SET [color_id] = ?\n"
                    + "      ,[quantity] = ?\n"
                    + " WHERE ProductColorID = ''

SELECT Top 5
    p.ProductColorID, 
    COUNT(DISTINCT ol.OrderID) AS number_of_customers
FROM 
    OrderLine ol
JOIN 
    Product_Color p ON ol.ProductColorID = p.ProductColorID
	JOIN
	Product p1 on p1.ProductID=p.product_id
JOIN 
    [Order] o ON ol.OrderID = o.OrderID
GROUP BY 
    p.ProductColorID
ORDER BY 
    number_of_customers DESC

	select * from Product_Color p join Product p1 on p1.ProductID = p.product_id and p.ProductColorID = 14
	select * from Product_Color p join Product p1 on p1.ProductID = p.product_id and p.ProductColorID = 9
	select * from Product_Color p join Product p1 on p1.ProductID = p.product_id and p.ProductColorID = 10
	select * from Product_Color p join Product p1 on p1.ProductID = p.product_id and p.ProductColorID = 37
